#b{background-color: rgba(140, 173, 55, 0.356);background-size: auto;}
#c{background-color: darkolivegreen;}
#d{background-color: darkkhaki;}
#e{background-color: darkolivegreen;}
#f{background-color: darkkhaki;}
#g{background-color: darkolivegreen;}
#h{background-color: darkkhaki;}
#i{background-color: darkolivegreen;}
#l{background-color: darkkhaki;}
#m{background-color: darkolivegreen;}
#n{background-color: darkkhaki;}
#o{background-color: darkolivegreen;}
#p{background-color: darkgrey;}
#q{}