#a{
background-color: yellow;
}
#b{background-color: aqua;}
#c{background-color: blueviolet;}
#d{background-color: red;}
#e{background-color: orangered;}
#f{background-color: greenyellow;}
#g{background-color: rgb(79, 146, 28);}